body,
p,
div,
ul,
li,
span,
input {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    color: black;
    font-family: Arial, Helvetica, freesans, sans-serif;
    background-color: #E7E8E1;
}
#topnav {
    background-color: white;
    width: 100%;
    height: 41px;
}
.page-width {
    width: 1268px;
    margin: 0px auto;
}
#topnav-logo {
    padding: 5.5px 14px 2px 10px;
    float: left;
    border-right: 1px solid #666666;
}
#topnav-signin {
    font-stretch: semi-expanded;
    font-size: 13px;
    font-weight: 600;
    padding: 13px 20px 12px 20px;
    border-right: 1px solid #666666;
    float: left;
}
.fa-user-circle {
    position: relative;
    padding-right: 3px;
}
#topnav-menu {
    float: left;
}
#topnav-menu li {
    list-style-type: none;
    font-weight: 600;
    font-size: 13px;
    padding: 13px 20px 12px 20px;
    border-right: 1px solid #666666;
    float: left;
}
#topnav-menu ul li span {
    position: relative;
    top: 1px;
    padding-left: 5px;
}
#topnav-search {
    float: left;
    padding: 0px 0px 2px 18px;
}
#topnav-search input {
    padding-top: 0px;
    padding-left: 7px;
    margin-top: 13px;
    height: 24px;
    width: 143px;
    font-weight: 600;
    font-size: 13px;
    color: black;
    background-color: #e4e4e4;
    border: none;
    vertical-align: middle
}
.fa-search {
    position: relative;
    top: 7px;
}

.fa {
    padding: 10px;
    text-decoration: none;
    float: right;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-envelope {
    color: white;
}

.fa-facebook:hover {
    color: darkblue;
}

.fa-twitter:hover {
	color:#00aced;
}

.fa-youtube:hover{
	color:#e52d27;
}

.fa-envelope:hover{
    color:limegreen;
}

.socialmedia{
 	overflow: hidden;
 	background-color: transparent;
 	position: fixed;
 	bottom:0;
 	width: 100%;
}
