body,
p,
div,
ul,
li,
input {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    color: black;
    font-family: Arial, Helvetica, freesans, sans-serif;
    background-color: #E7E8E1;
}
#topnav {
    background-color: white;
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #bfbfbf;
}
.page-width {
    width: 1268px;
    margin: 0px auto;
}
#topnav-logo {
    padding: 5.5px 14px 12px 10px;
    float: left;
    border-right: 1px solid #bfbfbf;
}
#topnav-signin {
    font-stretch: semi-expanded;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-right: 1px solid #bfbfbf;
    float: left;
    background-color: white;    
}

#topnav-signin:hover {
    border-bottom: 3px solid #005ce6;   
}
.fa-user-circle {
    position: relative;
    padding-right: 3px;
}
#topnav-menu {
    float: left;
}
#topnav-menu li {
    list-style-type: none;
    font-weight: 600;
    font-size: 13px;
    padding: 13px 20px 12px 20px;
    border-right: 1px solid #bfbfbf;
    float: left;
}

.news:hover {
    border-bottom: 3px solid #cc0000;
}

.sport:hover {
    border-bottom: 3px solid #ffff00;
}

.weather:hover {
    border-bottom: 3px solid #66ccff;
}

.iplayer:hover {
    border-bottom: 3px solid #ff3399;
}

.tv:hover {
    border-bottom: 3px solid #000000;
}

.radio:hover {
    border-bottom: 3px solid #000000;
}

.cbbc:hover {
    border-bottom: 3px solid #66ff66;
}

.student:hover {
    border-bottom: 3px solid #660066;
}

.more:hover {
    border-bottom: 3px solid #000000;
}

#topnav-search {
    float: left;
    padding: 0px 0px 2px 18px;
}
#topnav-search input {
    padding-top: 0px;
    padding-left: 7px;
    margin-top: 13px;
    height: 24px;
    width: 143px;
    font-weight: 600;
    font-size: 13px;
    color: black;
    background-color: #e4e4e4;
    border: none;
    vertical-align: middle
}
.fa-search {
    position: relative;
    top: 7px;
}

#bottomnav {
    background-color: #52294d;
    width: 100%;
    height: 100px;
}

#bottomnav-title {
    margin-top: 5.5px;
    padding: 5.5px 14px 12px 10px;
    float: left;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 100; 
    position:absolute;
}

#bottomnav-menu {
    float: left;
    width: 100%;
    margin-top: 75px;
    min-width: 500px;
    position: absolute;   
}

#bottomnav-menu li {
    list-style-type: none;
    font-weight: 100;
    font-size: 16px;
    color: gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-right: 1px solid #808080;
    float: left;
}


#bottomnav-menu li:hover {
    border-bottom: 3px solid #ffffff;
}

.fa-facebook {
    color: white;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.fa-twitter {
    color: white;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.fa-youtube {
    color: white;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.fa-envelope {
    color: white;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.fa-facebook:hover {
    color: darkblue;
}

.fa-twitter:hover {
	color:#00aced;
}

.fa-youtube:hover{
	color:#e52d27;
}

.fa-envelope:hover{
    color:limegreen;
}

.socialmedia{
 	overflow: hidden;
 	background-color: transparent;
 	position: fixed;
 	bottom:0;
 	width: 100%;
}
